* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
form {
    width: 30%;
    margin-left: 50px;
    color: white;
    margin: auto;
}
.space {
    margin-bottom: 4em;
}
#games-info {
    color: white;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 16pt;
    vertical-align: top;
    float: left;
    margin-left: -7em;
    padding-right: 2px;
    line-height: 14.5;
    
}
#age-info {
    color: white;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 16pt;
    vertical-align: top;
    float: right;
    margin-right: 3em;
    line-height: 14.5;
}
#genre-info {
    color: white;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 16pt;
    vertical-align: top;
    float: right;
    margin-left: 3em;
    margin-right: -5em;
    line-height: 14.5;
}
#popular-info {
        color: white;
        text-align: center;
        font-family: 'Orbitron', sans-serif;
        font-size: 16pt;
        vertical-align: top;
        float: left;
        margin-left: -9em;
        line-height: 14.5;
}
#image-display {
    margin-left: 40px;
    vertical-align: top;
    float: right;
    padding-bottom: 2px;
}
.container {
    display: table;
}
